<!--Mandated by FR-6: Create.Notebook and FR-7: Add.Notebook-->

<%= form_with(model: notebook) do |form| %>
  <% if notebook.errors.any? %>
    <div class="alert">
      <h2 class="font-bold"><%= pluralize(notebook.errors.count, "error") %> prohibited this notebook from being
        saved:</h2>

      <ul class="list-disc list-inside">
        <% notebook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'text-field' %>
  </div>

  <% unless notebook.persisted? %>
    <div class="mb-8">
      <%= form.label "#{:background} (optional)", class: 'label' %>
      <%= form.file_field :background, class: 'file-input' %>
    </div>
  <% end %>

  <div class="flex">
    <%= form.submit class: 'primary-button mr-2' %>
    <%= link_to "Back", notebooks_path, class: 'secondary-button' %>
  </div>
<% end %>
