<h1 class="heading-1">Your Notebooks</h1>

<div id="notebooks" class="flex flex-col space-y-4 mb-4">
  <% @notebooks.each do |notebook| %>
    <%= link_to notebook do %>
      <%= render notebook %>
    <% end %>
  <% end %>
</div>

<%= link_to "Create a notebook", new_notebook_path, class: "primary-button" %>

<h1 class="heading-1">Joined Notebooks</h1>

<div id="notebooks" class="flex flex-col space-y-4 mb-4">
  <% @notebooks.each do |notebook| %>
    <%= link_to notebook do %>
      <%= render notebook %>
    <% end %>
  <% end %>
</div>

<%= link_to "Join a notebook", new_notebook_path, class: "primary-button" %>
