<div class='flex flex-row items-center justify-between'>
  <h1 class="heading-1">Your Notebooks</h1>
  <%= link_to "Create a Notebook", new_notebook_path, class: "primary-button" %>
</div>

<% if @owned_notebooks.empty? %>
  <div>You don't have any of your own notebooks yet. Create one to get started.</div>
<% end %>

<div id="owned-notebooks" class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mb-4">
  <% @owned_notebooks.each do |notebook| %>
    <%= link_to notebook do %>
      <%= render notebook %>
    <% end %>
  <% end %>
</div>


<div class="flex flex-row items-center justify-between">
  <h1 class="heading-1">Joined Notebooks</h1>
  <div data-controller="join" class='flex flex-row items-center justify-between'>
    <input data-join-target="id" autofocus="autofocus" autocomplete="text" class="text-field inline-block mr-2 w-32" type="text" value="">
    <button data-action="click->join#preview" class='primary-button whitespace-nowrap'>Join a Notebook</button>
  </div>
</div>

<% if @joined_notebooks.empty? %>
  <div>You haven't joined any notebooks yet. Enter a notebook code to join it and get started.</div>
<% end %>

<div id="joined-notebooks" class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 mb-4">
  <% @joined_notebooks.each do |notebook| %>
    <%= link_to notebook do %>
      <%= render notebook %>
    <% end %>
  <% end %>
</div>
