<div>
  <%= javascript_tag do %>
    window.notebookId = "<%= @notebook.id %>";
    window.notebookName = "<%= @notebook.name %>";
    window.isOwner = <%= @notebook.owner?(current_user) %>;
    window.ownerLayers = <%= @owner_layers.to_json.html_safe %>
    window.participantLayers = <%= @participant_layers.to_json.html_safe %>
  <% end %>
  <% content_for :for_head do -%>
    <%= javascript_include_tag "index", "data-turbo-track": "reload", defer: true %>
  <% end -%>
  <div id="root"></div>
</div>
