<div>
  <%= javascript_tag do %>
    window.notebookId = "<%= @notebook.id %>";
    window.notebookName = "<%= @notebook.name %>";
    window.isOwner = <%= @notebook.owner?(current_user) %>;
    window.ownerLayers = <%= @owner_layers.to_json.html_safe %>
    window.participantLayers = <%= @participant_layers.to_json.html_safe %>
    window.currentUser = <%= current_user.id %>
    window.ownerId = <%= @notebook.owner.id %>
    window.userNotebookId = <%= @notebook.user_notebooks.find_by(:user => current_user.id).id %>
    window.backgroundPdf = <%= @notebook.background.blob ? @notebook.background.blob.url.to_json.html_safe : nil.to_json.html_safe %>
  <% end %>
  <% content_for :for_head do -%>
    <%= javascript_include_tag "index", "data-turbo-track": "reload", defer: true %>
  <% end -%>
  <div id="root"></div>
</div>
