<div class="flex justify-center items-center">
  <div class="card w-full max-w-xl">
    <h1 class="heading-1">Change your password?</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, "data-turbo" => false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="flex flex-col space-y-4">
        <div class="field">
          <%= f.label :password, "New password", class: 'label mb-0' %>
          <% if @minimum_password_length %>
            <em class="text-gray-700 mb-2">(<%= @minimum_password_length %> characters minimum must include at least one lowercase letter, one uppercase letter, and one digit)</em>
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'text-field' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password", class: 'label' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'text-field' %>
        </div>

        <%= f.submit "Change my password", class: 'primary-button' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
